body, html, #__next, .site { 
  margin: 0;
  height: 100%;
}



.content {
  height: 200vh; 
  display: grid;
  grid-template-rows: 1fr 10fr 10fr 1fr;
  
}

.row{ 
  background: grey;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.header{ 
  background: pink;
}

.footer{ 
  background: pink;
}

.box{ 
  background: lightgreen;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.photos{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  grid-gap: 5px
}

.photo-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: solid 1px blue;



}

